
/* Generico */

body{
    margin: 0px;
    min-height: 600px;
}

header{
    height:auto;
    width:100%;
}

footer{
    height: 100px;
    margin-top: 40px;
    padding: 20px 0px;
}

article{
    margin: 10px;
    min-width: 290px;
}

.center-margin{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 300px;
}

.center-margin-auto{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.row-column{
    display: flex;
    flex-direction: row;
}

.column-row{
    display: flex;
    flex-direction: column;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.grow2{
    flex-grow: 2;
}

.img-normal{
    width: 200px;
    height: auto;
    margin: 10px;
}

.img-small{
    max-width: 100px;
    height: auto;
    margin: 10px;
}

@media (max-width: 1080px){

    .center-margin{
        width: 70%;
    }

}

@media (max-width: 992px){

    .center-margin{
        width: 80%;
    }

}

@media (max-width: 768px){

    .row-column{
        flex-direction: column;
    }

    .center-margin{
        width: 90%;
    }

    article{
        margin: 0px;
    }

    .column-row{
        flex-direction: row;
    }

}



/* Especifico */

#logo{
    order: 1;
    min-width: 300px;
}

#search{
    order: 2;
    min-width: 110px;
    margin-top: 30px;
    margin-right: 10px;
}

#sesion{
    order: 3;
    min-width: 100px;
    display:inline-block;
    margin-top: 35px;
}

#carcase{
    order: 1;
    margin-top: 40px;
}

#carcase2{
    order: 2;
    margin-top: 40px;
    margin-left: 10px;
    width: 200px;
}



@media (max-width: 992px){


}

@media (max-width: 768px){

    #search{
        margin-top: 0px;
        margin-right: 0px;
    }

    #sesion{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    #carcase{
        order: 2;
        margin-top: 0px;
    }

    #carcase2{
        order: 1;
        margin-top: 0px;
        margin: auto;
        width: 100%;
    }

}

