body{ 
    font-family: monospace;
    color:#00CC00;
    background-color:#000000;
    font-size: 18px;
}
p{
    font-size: 18px; 
}

h1{
    font-size: 18px; 
}

h2{
    font-size: 18px; 
}

h3{
    font-size: 18px; 
}